/* TheAdminLateral2 */
.navItem-admin {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
  margin: 5px 0;
  transform: scale(97%);
  transition: transform 0.2s ease;
}

.navItem-admin:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(100%);
}

.routerLinkAdmin {
  color: #fff !important;
}

.routerLinkAdmin:hover {
  color: #fff;
}

/* Estilizando o scroll da div */
.meu-menu-lateral {
  /* Define a largura e altura máxima da div com scroll 
        width: 300px;
        height: 200px;
        overflow-y: scroll; /* Ativa o scroll vertical */
  scrollbar-width: thin; /* Define a largura do scroll */
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent; /* Define a cor do scroll */
}

/* Estilizando a barra de rolagem */
.meu-menu-lateral::-webkit-scrollbar {
  width: 8px; /* Largura do scroll no Chrome, Safari, etc. */
  height: 8px; /* Altura do scroll no Chrome, Safari, etc. */
}

/* Estilizando a alça do scroll */
.meu-menu-lateral::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Cor da alça do scroll */
  border-radius: 4px; /* Define a borda arredondada */
}

/* Estilizando as bordas do scroll */
.meu-menu-lateral::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo da barra de rolagem */
  border-radius: 8px; /* Define a borda arredondada */
}

/* TheNavLateral */
.link:hover {
  cursor: pointer;
  color: rgb(69, 170, 184);
}

#card-resultado {
  background-color: #333;
}

.pesquisar-lateral {
  border: 1px solid #9e9e9e;
}

.pesquisar-lateral input::placeholder {
  color: rgba(0, 0, 0, 0.4) !important;
}

.filteres {
  cursor: pointer;
  color: #000;
  font-size: 18px;
}

.filteres:hover {
  color: crimson;
}

.filterTextInput {
  width: 100%;
}

.pesquisar-lateral ul {
  padding: 0;
}

.pesquisar-lateral ul li {
  list-style-type: none;
  padding: 3px 10px;
}

.filter-select {
  width: 100%;
  color: #444444 !important;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.filter-input {
  width: 100%;
  color: #444444 !important;
  background: none;
  border: none;
  font-size: 14px;
}

select option {
  background-color: transparent; /* Define o fundo como transparente */
  color: #000; /* Define a cor do texto como branco */
}

.pesquisar-lateral select:focus {
  outline: none;
  border: none;
}

.title__filter {
  font-size: small;
  font-weight: 600;
  color: #2e2e2e !important;
}

.error-message {
  padding-top: 2px;
  color: #f14b4b;
  font-size: 8px;
  font-weight: bold;
}

.input-error {
  border: 1px solid red;
  background-color: #fff1f1;
}

/* TheNavTop */
.user-btn {
  font-size: 14px;
}

.menu-mobile-editado {
  width: 100vw;
  left: 0;
  height: 100vh;
  top: 0;
  position: fixed;
  visibility: hidden;
  color: rgba(0, 0, 0, 1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.content-menu {
  background-color: rgba(255, 255, 255, 1);
  height: 80%;
  border-radius: 20px;
  height: min-content;
  padding-bottom: 2rem;
  overflow: auto;
  border: 1px solid red;
}

.toggle-menu-mobile-editado {
  opacity: 1;
}

.visiblidade {
  visibility: visible;
}

.items-menu-mobile h5 {
  font-size: 13px;
  font-weight: bold;
  color: rgb(255, 69, 106);
}

.items-menu-mobile p {
  margin: 0;
  margin-top: 5px;
  font-size: 18px;
}

.btn-whatsapp {
  background-color: #25D366;
}

.btn-whatsapp:hover {
  background-color: rgb(71, 146, 84);
}
